body{
	background-color: #0C0326;
}

/*SECTION 1*/

#carouselAccueil{
	width: 100%;
	height: auto;
}

.carousel img{
	border-radius: 5px;
	margin-top: 50px;
	margin-bottom: 40px;
}

/*SECTION 2 */

#listeMarque{
	width: 100%;
	height: auto;
}

.icon1{
	width: 200px;
	height: 120px;
}

.iconMarque1{
	width: 220px;
	height: 130px;
	background-color: #454545;
	border-radius: 10px;
	border: 3px solid grey;
	margin-bottom: 30px;
	margin-top: 5px;
}

.iconMarque2{
	width: 220px;
	height: 130px;
	background-color: #454545;
	border-radius: 10px;
	border: 3px solid grey;
	margin-bottom: 30px;
	margin-top: 5px;
}

.iconMarque3{
	width: 220px;
	height: 130px;
	background-color: #454545;
	border-radius: 10px;
	border: 3px solid grey;
	margin-bottom: 30px;
	margin-top: 5px;
}

.iconMarque4{
	width: 220px;
	height: 130px;
	background-color: #454545;
	border-radius: 10px;
	border: 3px solid grey;
	margin-bottom: 30px;
	margin-top: 5px;
}

.iconMarque5{
	width: 220px;
	height: 130px;
	background-color: #454545;
	border-radius: 10px;
	border: 3px solid grey;
	margin-bottom: 30px;
	margin-top: 5px;
}

.iconMarque6{
	width: 220px;
	height: 130px;
	background-color: #454545;
	border-radius: 10px;
	border: 3px solid grey;
	margin-bottom: 30px;
	margin-top: 5px;
}



/*SECTION 3*/

#ligne1{
	width: 100%;
	height: 250px;
}

h3{
	margin-left: 10px;
	color: #FFF;
}

.imageLigne1{
	width: 260px;
	height: 160px;
	float: left;
	margin-left: 15px;
	margin-bottom: 20px;
}



#ligne2{
	width: 100%;
	height: 250px;
}

.imageLigne2{
	width: 260px;
	height: 160px;
	float: left;
	margin-left: 15px;
	margin-bottom: 20px;
}




#ligne3{
	width: 100%;
	height: 250px;
	position: absolute;
}

.imageLigne3{
	width: 260px;
	height: 160px;
	float: left;
	margin-left: 15px;
	margin-bottom: 20px;
}